<launch>

  <!-- Run the map server -->
  <node name="map_server1" pkg="map_server" type="map_server" args="/home/ugv/catkin_ws/src/ugv/launch/config1/map.yaml"/>

  <!--- Run AMCL -->
  <node name="amcl1" pkg="amcl" type="amcl"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base1" output="screen">
        <rosparam file="$(find ugv)/launch/config4/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find ugv)/launch/config4/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find ugv)/launch/config4/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find ugv)/launch/config4/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find ugv)/launch/config4/base_local_planner_params.yaml" command="load" />
        <rosparam file="$(find ugv)/launch/config4/move_base_params.yaml" command="load" />
  </node>

  <param name="robot_description" textfile="$(find xacro)/xacro.py $(find ugv)/launch/ugv.urdf" />
  <param name="use_gui" value="false" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node pkg="rviz" type="rviz" name="rviz1" args="-d $(find ugv)/launch/ugv.rviz"/>

</launch>
