<launch>

  <node pkg="gmapping" type="slam_gmapping" name="gmapping2" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base1" output="screen">
    <rosparam file="$(find ugv)/launch/config2/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ugv)/launch/config2/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ugv)/launch/config2/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ugv)/launch/config2/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find ugv)/launch/config2/base_local_planner_params.yaml" command="load" />
    <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
    <param name="base_local_planner" type="string" value="base_local_planner/TrajectoryPlannerROS" />
    <!-- param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" / -->
    <param name="controller_frequency" type="double" value="10.0" />
    <param name="planner_patience" type="double" value="10.0" />
  </node>

  <param name="robot_description" textfile="$(find ugv)/launch/ugv.urdf" />
  <param name="use_gui" value="false" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node pkg="rviz" type="rviz" name="rviz2" args="-d $(find ugv)/launch/ugv.rviz"/>

</launch>
