<launch>
    <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcast" args="0 0 0 0 0 0 /base_link /laser 100" />
    <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
    	<param name="map_frame" value="/map" />
        <param name="base_frame" value="/base_link"/>
        <param name="odom_frame" value="/base_link"/>
        <param name="pub_map_odom_transform" value="true"/>

        <param name="map_resolution" value="0.050"/>
        <param name="map_size" value="2048"/>
        <param name="map_start_x" value="0.5"/>
        <param name="map_start_y" value="0.5" />
        <param name="map_multi_res_levels" value="2" />
    </node>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find hector_slam_launch)/rviz_cfg/mapping_demo.rviz"/>
    <include file="$(find ugv)/launch/geotiff_mapper.launch"> </include>  

</launch>
