<launch>

  <!-- NOT YET Run the map server -->
  <!--- <node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolution"/> -->

  <!--- NOT Run AMCL -->
  <!--- <include file="$(find amcl)/examples/amcl_omni.launch" /> -->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find ugv)/launch/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ugv)/launch/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ugv)/launch/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ugv)/launch/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find ugv)/launch/base_local_planner_params.yaml" command="load" />
    <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
    <param name="base_local_planner" type="string" value="base_local_planner/TrajectoryPlannerROS" />
    <param name="controller_frequency" type="double" value="10.0" />
    <param name="planner_patience" type="double" value="10.0" />

  </node>
</launch>