<launch>
	<param name = "/diff_drive_controller/left_wheel" type = "string" value = "Left" />
	<param name = "/diff_drive_controller/right_wheel" type = "string" value = "Right" />
	<rosparam param = "/diff_drive_controller/pose_covariance_diagonal">[0.001, 0.001, 1000000.0, 1000000.0, 1000000.0, 1000.0] </rosparam>
	<rosparam param = "/diff_drive_controller/twist_covariance_diagonal">[0.001, 0.001, 1000000.0, 1000000.0, 1000000.0, 1000.0]</rosparam>
	<param name = "/diff_drive_controller/wheel_separation" value = "1.0" />
	<param name = "/diff_drive_controller/wheel_radius" value = "0.25" />
	<param name = "/diff_drive_controller/type" value = "diff_drive_controller/DiffDriveController" />

	<node pkg = "controller_manager"
		type = "spawner"
		name = "controller_manager_spawner"
		args = "diff_drive_controller" />
	
	<node pkg = "ugv" 
	      type = "UGVinterface"
	      name = "UGVinterface_node" />
</launch>
