<launch>
	<param name = "/diff_drive_controller/left_wheel" type = "string" value = "Left" />
	<param name = "/diff_drive_controller/right_wheel" type = "string" value = "Right" />
	<rosparam param = "/diff_drive_controller/pose_covariance_diagonal">[0.01,0.01,0.01,0.1,0.1,0.1]</rosparam>
	<rosparam param = "/diff_drive_controller/twist_covariance_diagonal">[0.01,0.01,0.01,0.1,0.1,0.1]</rosparam>
	<param name = "/diff_drive_controller/wheel_separation" type = "double" value = "0.56134" />
	<param name = "/diff_drive_controller/wheel_radius" type = "double" value = "0.1651" />
	<param name = "/diff_drive_controller/type" type = "string" value = "diff_drive_controller/DiffDriveController" />
	<param name = "/diff_drive_controller/enable_odom_tf" type = "bool"  value = "true" />
	<param name = "/diff_drive_controller/publish_cmd" type = "bool" value = "true" />
	
	<node pkg = "controller_manager"
		type = "spawner"
		name = "controller_manager_spawner"
		args = "diff_drive_controller" />
	
	<node pkg = "ugv" 
	      type = "UGVinterface"
	      name = "UGVinterface_node">
		<remap from="diff_drive_controller/cmd_vel" to="cmd_vel" />
		<remap from="diff_drive_controller/odom" to="odom" />
		<remap from="diff_drive_controller/cmd_vel_out" to="cmd_vel_out" />
	</node>

	<include file="$(find rplidar_ros)/launch/rplidar.launch" />

	<param name="robot_description" command="cat $(find ugv)/launch/UGV.urdf" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />	

	<!-- Filter Chain -->
	<!-- param name="scan_to_scan_filter_chain" type="string" value="$(find ugv)/launch/laserconfig2.yaml" / -->
	<node pkg="laser_filters" type="scan_to_scan_filter_chain" name="filterchain">
		<rosparam command="load" file="$(find ugv)/launch/laserconfig.yaml" />
	</node>
	
</launch>
